<div class="container-fluid">
  <p style="font-size: 50px;" align="center" ><%= t('services').capitalize %></p>


    <div class="container">
      <div class="row">
        <% @services.each do |service| %>
          <div class="col-6">
            <center>
              <h1><%= service.name_ru %></h1>
              <%= image_tag(service.image) %>
            </center>
              <%= simple_format service.text_ru.length <= 200 ? service.text_ru : service.text_ru[0..200] + '.....'  %>
              <%= link_to service_path(service) do %>
                Подробнее
              <% end %>
          </div>


        <% end %>
      </div>
    </div>



</div>
