<div class="site-section">
  <div class="block__73694 mb-2" id="services-section">
    <div class="container">
      <div class="row d-flex no-gutters align-items-stretch">
        <div class="col-12 col-lg-6 block__73422" data-aos="fade-right" data-aos-delay="">
          <%= image_tag(@service.image, style:'width: 100%') %>
        </div>
        <div class="col-lg-5 ml-auto p-lg-5 mt-4 mt-lg-0" data-aos="fade-left" data-aos-delay="">
          <h2 class="mb-3 text-black">
            <%= @service.name_ru if params[:locale] != true and params[:locale] != 'tm' and params[:locale] != 'ru' %>
            <%= @service.name_ru if params[:locale] == 'ru' %>
            <%= @service.name_tm if params[:locale] == 'tm' %>
          </h2>
          <p>
            <%= simple_format @service.text_ru, style:'font-size: 13px' if params[:locale] != true and params[:locale] != 'tm' and params[:locale] != 'ru' %>
            <%= simple_format @service.text_ru, style:'font-size: 13px' if params[:locale] == 'ru' %>
            <%= simple_format @service.text_tm, style:'font-size: 13px' if params[:locale] == 'tm' %>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">

    <h4><%= t('no_comments') if @service.comments.empty? %></h4>
    <% @service.comments.each do |comment| %>

<p><strong><%= t('author')%></strong> <%= comment.author %> ; <%= t('time')%> <%= comment.created_at %></p>
<p><%= comment.body %></p>
<hr>
<% end %>
<%= form_for([@service, @service.comments.build]) do |f| %>

<p>
  <%= f.label t('body') %>
  <%= f.text_area :body, class:'form-control', style:"width: 800px"%>
</p>

<p><%= f.submit t('write'), class:'btn btn-success' %></p>
<% end %>

</div>
