<center>
    <h1>ПОКУПКА</h1>
    <h2>
      <%= @type.name if params[:locale] != true and params[:locale] != 'tm' and params[:locale] != 'ru'%>
      <%= @type.name if params[:locale] == 'ru' %>
      <%= @type.name_tm if params[:locale] == 'tm' %>
    </h2>



</center>
<% %>

<div class="container">

  <% @purchase.each do |purchase| %>
    <div class="site-section">
      <div class="block__73694 mb-2" id="services-section">
        <div class="container">
          <div class="row d-flex no-gutters align-items-stretch">
            <div class="col-6 col-lg-6 block__73422" data-aos="fade-right" data-aos-delay="">
            <% if purchase.image.attached? %>
              <%= image_tag(purchase.image, style:'width: 50%') %>
            <% else %>
              <%= image_tag(@no, style:'width: 50%') %>
            <% end %>

              <h2 class="mb-3 text-black"><%= purchase.title_ru if params[:locale] != true and params[:locale] != 'tm' and params[:locale] != 'ru' %></h2>
              <h2 class="mb-3 text-black"><%= purchase.title_ru if params[:locale] == 'ru' %></h2>
              <h2 class="mb-3 text-black"><%= purchase.title_tm if params[:locale] == 'tm' %></h2>
              <p><%= simple_format purchase.text_ru.length <= 100 ? purchase.text_ru : purchase.text_ru[0..100] + '...' if params[:locale] != true and params[:locale] != 'tm' and params[:locale] != 'ru'%></p>
              <p><%= simple_format purchase.text_ru.length <= 100 ? purchase.text_ru : purchase.text_ru[0..100] + '...' if params[:locale] == 'ru' %></p>
              <p><%= simple_format purchase.text_tm.length <= 100 ? purchase.text_tm : purchase.text_tm[0..100] + '...' if params[:locale] == 'tm' %></p>
              <%= link_to more_purchase_path(purchase) do %>
                <%= t('more')%>

              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  <% end %>

</div>
