<center>
  <h1><%= @labelrent.name %></h1>





</center>


<h1></h1>
<center>
<%= link_to new_rent_path do %>
  Добавить аренду
<% end %>
</center>







<div class="container">
  <div class="row">

      <% @rents1.each do |rent| %>
    <div class="col">
      <% if rent.image.attached? %>
        <%= image_tag(rent.image, style:'width:150px; height: 100px')%>
      <% else %>
        <%= image_tag(@no, style:'width:150px; height: 100px') %>
      <% end %>
      <h6>
        <%= rent.title_ru if params[:locale] != true and params[:locale] != 'tm' and params[:locale] != 'ru' %>
        <%= rent.title_ru if params[:locale] == 'ru' %>
        <%= rent.title_tm if params[:locale] == 'tm' %>
      </h6>
      <%= link_to 'Подробнее', [:more, rent] if params[:locale] != true and params[:locale] != 'tm' and params[:locale] != 'ru' %>
      <%= link_to 'Подробнее', [:more, rent] if params[:locale] == 'ru' %>
      <%= link_to 'has giňişleýin maglumat', [:more, rent] if params[:locale] == 'tm' %>
    </div>
    <% end %>

  </div>
</div>
